__pycache__
.ipynb_checkpoints
derby.log
versions
metastore_db
cleaned_data
BI_requirements.txt
entries_output.json

.env

*.ipynb
/config.py
/manipulation.ini

airflow-data/plugins


dags/__pycache__
script_etl/__init__.py